.pg_h1{
    color : red
}


body{
    min-height: 100vh;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:0 !important;
}

body .content_body{
    flex-grow: 1;
}